<% content_for(:title, t(".title")) %>
<div class="flex flex-wrap justify-center mt-6 md:gap-10 md:m-12">
  <% youtube_techniques = @techniques.where(source_type: "youtube") %>
  <% if youtube_techniques.present? %>
    <% youtube_techniques.each do |technique| %>
      <div class="w-1/3 rounded overflow-hidden shadow-xl flex flex-col">
        <div class="px-6 py-4 flex-grow">
          <div class="font-bold text-xl mb-2">
            <span><%= link_to technique.title, techniques_youtube_path(technique) %></span>
          </div>
          <div class="text-base">
            開始地点: <%= technique.video_timestamp %>
          </div>
        </div>
        <div class="px-6 pt-2 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= technique.character %></span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= technique.map %></span>
        </div>
        <div class="bottom-0">
        <iframe class="w-full aspect-video"
                src="https://www.youtube.com/embed/<%= technique.embed_id_from_youtube_url %>&amp;start=<%= technique.calculate_video_timestamp %>"
                frameborder="0"
                allowfullscreen>
        </iframe>
        </div>
      </div>
    <% end %>
  <% else %>
    <div role="alert" class="alert alert-warning">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
      <span>YouTubeのテクニックは投稿されていません</span>
    </div>
  <% end %>
  <% twitter_techniques = @techniques.where(source_type: "twitter") %>
  <% if twitter_techniques.present? %>
    <% twitter_techniques.each do |technique| %>
      <div class="w-1/3 rounded overflow-hidden shadow-xl flex flex-col">
        <div class="px-6 py-4 flex-grow">
          <div class="font-bold text-xl mb-2">
            <span><%= link_to technique.title, techniques_twitter_path(technique) %></span>
          </div>
        </div>
        <div class="px-6 pt-2 pb-2">
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= technique.character %></span>
          <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= technique.map %></span>
        </div>
        <div class="bottom-0">
        <blockquote class="twitter-tweet">
          <a href="<%= technique.x_to_twitter_change_url %>"></a>
        </blockquote>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>
    <% end %>
  <% else %>
    <div role="alert" class="alert alert-warning">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 shrink-0 stroke-current"
          fill="none"
          viewBox="0 0 24 24">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
        </svg>
      <span>Xのテクニックは投稿されていません</span>
    </div>
  <% end %>
</div>
