<div class="flex min-h-full flex-col justify-center md:m-12">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">YouTube投稿作成</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">

    <%= form_with model: @technique do |f| %>
      <div class="field py-2 px-4">
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "タイトル" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.text_field :source_type, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "ソースタイプ" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.text_field :source_url, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "YouTubeURL" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.text_field :video_timestamp, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "タイムスタンプ" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.text_field :character, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "キャラクター" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.text_field :map, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "マップ" %>
      </div>

      <div class="actions text-center py-2 px-4">
        <%= f.submit "投稿する！", class: "btn btn-wide" %>
      </div>
    <% end %>
  </div>
</div>
