<% content_for(:title, t(".title")) %>
<div class="flex min-h-full flex-col justify-center md:m-12">
  <div class="sm:mx-auto sm:w-full sm:max-w-sm">
    <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">テクニック登録</h2>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-md">

    <%= form_with model: @technique, url: techniques_twitter_index_path do |f| %>
      <%= render 'shared/error_message', object: f.object %>
        <%= f.hidden_field :source_type %>
      <div class="field py-2 px-4">
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "タイトル" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.text_field :source_url, autofocus: true, autocomplete: "title", class: "input input-md input-bordered w-full", placeholder: "XのURL" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.select :character, [
          ['ブリムストーン', 'ブリムストーン'],
          ['フェニックス', 'フェニックス'],
          ['セージ', 'セージ'],
          ['ソーヴァ', 'ソーヴァ'],
          ['ヴァイパー', 'ヴァイパー'],
          ['サイファー', 'サイファー'],
          ['ブリーチ', 'ブリーチ'],
          ['オーメン', 'オーメン'],
          ['ジェット', 'ジェット'],
          ['レイズ', 'レイズ'],
          ['レイナ', 'レイナ'],
          ['キルジョイ', 'キルジョイ'],
          ['スカイ', 'スカイ'],
          ['ヨル', 'ヨル'],
          ['アストラ', 'アストラ'],
          ['KAY/O', 'KAY/O'],
          ['チェンバー', 'チェンバー'],
          ['ネオン', 'ネオン'],
          ['フェイド', 'フェイド'],
          ['ハーバー', 'ハーバー'],
          ['ゲッコー', 'ゲッコー'],
          ['デッドロック', 'デッドロック'],
          ['アイソ', 'アイソ'],
          ['クローヴ', 'クローヴ'],
          ['ヴァイス', 'ヴァイス'],
          ['テホ', 'テホ'],
          ['ウェイレイ', 'ウェイレイ']
        ], { include_blank: "エージェントを選択してください" }, class: "input input-md input-bordered w-full", placeholder: "キャラクター" %>
      </div>
      <div class="field py-2 px-4">
        <%= f.select :map, [
          ['スプリット', 'スプリット'],
          ['バインド', 'バインド'],
          ['ヘイブン', 'ヘイブン'],
          ['アセント', 'アセント'],
          ['アイスボックス', 'アイスボックス'],
          ['ブリーズ', 'ブリーズ'],
          ['フラクチャー', 'フラクチャー'],
          ['パール', 'パール'],
          ['ロータス', 'ロータス'],
          ['サンセット', 'サンセット'],
          ['アビス', 'アビス']
        ], { include_blank: "マップを選択してください" }, class: "input input-md input-bordered w-full", placeholder: "マップ" %>
      </div>

      <div class="actions text-center py-4 px-4">
        <%= f.submit "投稿する！", class: "btn btn-wide" %>
      </div>
    <% end %>
  </div>
</div>
