<% content_for(:title, t(".title")) %>
<div class="flex flex-col md:flex-row max-w-screen-2xl mx-auto px-4 py-6">

  <div class="w-full md:w-2/3 md:pr-6">
    <blockquote class="twitter-tweet">
      <a data-width="300px" data-height="500px" href="<%= @technique.x_to_twitter_change_url %>"></a>
    </blockquote>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="mt-4 text-xl font-bold"><%= @technique.title %></div>

    <div class="pt-2 pb-2">
      <%= link_to search_techniques_path(q: {title_or_character_or_map_cont: @technique.character}) do %>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          <%= @technique.character %>
        </span>
      <% end %>
      <%= link_to search_techniques_path(q: {title_or_character_or_map_cont: @technique.map}) do %>
        <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
          <%= @technique.map %>
        </span>
      <% end %>
    </div>


    <div class="mt-2 flex space-x-3">

      <a href="<%= @technique.source_url %>" class="btn bg-gray-500 text-white" target="_blank" rel="noopener noreferrer">Xへ</a>
      <!-- <a class="btn">Xでシェア</a> -->

      <% if user_signed_in? && current_user.own?(@technique) %>
        <%= link_to "編集", edit_techniques_youtube_path(@technique), id: "button-edit-#{@technique.id}", class: "btn" %>
        <%= link_to "削除", techniques_youtube_path(@technique), id: "button-destroy-#{@technique.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }, class: "btn" %>
      <% end %>

    </div>

  </div>


  <!-- おすすめツイート -->
  <div class="w-full md:w-1/3 mt-6 md:mt-0">
    <h2 class="text-lg font-semibold mb-4">おすすめポスト</h2>

    <% @recommend_techniques.each do |technique| %>

      <%= link_to technique.title, techniques_twitter_path(technique), class: "text-sm font-medium" %>

      <blockquote class="twitter-tweet">
        <a href="<%= technique.x_to_twitter_change_url %>"></a>
      </blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

    <% end %>

  </div>
</div>
