<% content_for(:title, t(".title")) %>
<div class="flex flex-col md:flex-row max-w-screen-2xl mx-auto px-4 py-6">
  <!-- メイン動画 -->
  <div class="w-full md:w-2/3 md:pr-6">
    <div class="w-full aspect-video bg-gray-800">
      <iframe class="w-full aspect-video"
              src="https://www.youtube.com/embed/<%= @technique.embed_id_from_youtube_url %>&amp;start=<%= @technique.calculate_video_timestamp %>"
              frameborder="0"
              allowfullscreen>
      </iframe>
    </div>
    <div class="mt-4 text-xl font-bold"><%= @technique.title%></div>
    <div class="mt-4 text-md font-bold">チャンネルのタイトル</div>


          <% if current_user.own?(@technique) %>
            <%= link_to edit_techniques_youtube_path(@technique), id: "button-edit-#{@technique.id}" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
              </svg>
            <% end %>
            <%= link_to techniques_youtube_path(@technique), id: "button-destroy-#{@technique.id}", data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') }  do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
              </svg>
            <% end %>
          <% end %>

    <div class="mt-2 flex space-x-3">
      <a href="https://www.youtube.com/watch?v=<%= @technique.only_id_from_youtube_url %>" class="btn px-4 py-2 bg-red-500 text-white" target="_blank" rel="noopener noreferrer">YouTubeへ</a>
      <button class="px-4 py-2 bg-gray-300 text-black rounded-lg">Xでシェア</button>
    </div>
    <div class="px-6 pt-2 pb-2">
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= @technique.character %></span>
      <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"><%= @technique.map %></span>
    </div>
  </div>

  <!-- おすすめ動画 -->
  <div class="w-full md:w-1/3 mt-6 md:mt-0">
    <h2 class="text-lg font-semibold mb-4">おすすめ動画</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-1 gap-4">

      <div class="flex space-x-3">
        <img class="w-32 h-18 object-cover rounded-lg bg-gray-300" src="https://img.youtube.com/vi/<%= @technique.only_id_from_youtube_url %>/maxresdefault.jpg">
        <div class="flex-1">
          <p class="text-sm font-medium">おすすめ動画のタイトル1</p>
        </div>
      </div>

      <div class="flex space-x-3">
        <img class="w-32 h-18 object-cover rounded-lg bg-gray-300" src="https://img.youtube.com/vi/<%= @technique.only_id_from_youtube_url %>/maxresdefault.jpg">
        <div class="flex-1">
          <p class="text-sm font-medium">おすすめ動画のタイトル2</p>
        </div>
      </div>

    </div>
  </div>
</div>
